[alias]
	# View abbreviated SHA, description, and history graph of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	# Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git diff --patch-with-stat"
	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	# Credit an author on the latest commit
	credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; f"
	# Interactive rebase with the given number of latest commits
	reb = "!r() { git rebase -i HEAD~$1; }; r"
	#status
	st = status
	# checkout
	co = checkout
	#commit 
	ci = commit

[core]
	# Use custom `.gitignore` and `.gitattributes`
	excludesfile = ~/.gitignore
	autocrlf = input  #true false input
  	safecrlf = warn
	editor = subl -wl1

[color]
	# Use colors in Git commands that are capable of colored output when outputting to the terminal
	ui = auto

[merge]
	tool = opendiff

[diff]
	tool = opendiff	

# Use `origin` as the default remote on the `master` branch in all cases
[branch "master"]
	remote = origin
	merge = refs/heads/master

# URL shorthands
# [url "git@github.com:"]
# 	insteadOf = "gh:"
# 	pushInsteadOf = "github:"
# 	pushInsteadOf = "git://github.com/"
# [url "git://github.com/"]
# 	insteadOf = "github:"
# [url "git@gist.github.com:"]
# 	insteadOf = "gst:"
# 	pushInsteadOf = "gist:"
# 	pushInsteadOf = "git://gist.github.com/"
# [url "git://gist.github.com/"]
# 	insteadOf = "gist:"

[push]
	default = simple

[user]
	name = Raymund T.
	email = raymund.tuquero@rga.com	
